## Basic Imports

In [333]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

## Loading data

In [334]:
data1 = pd.read_csv('../data/tmdb_5000_movies.csv')
data2 = pd.read_csv('../data/tmdb_5000_credits.csv')

In [335]:
data1.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [336]:
data1.shape

(4803, 20)

In [337]:
data2.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [338]:
data2.shape

(4803, 4)

In [339]:
data = data1.merge(data2, on='title')

In [340]:
data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [341]:
data.shape

(4809, 23)

In [342]:
data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [343]:
drop_columns = ['budget', 'homepage', 'id', 'production_countries', 'production_companies', 
                'release_date', 'revenue', 'status', 'movie_id']

In [344]:
data.drop(labels = drop_columns, axis = 1, inplace=True)

In [345]:
data.head(2)

,genres,keywords,original_language,original_title,overview,popularity,runtime,spoken_languages,tagline,title,vote_average,vote_count,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [346]:
data.shape

(4809, 14)

In [347]:
features = data.columns
features

Index(['genres', 'keywords', 'original_language', 'original_title', 'overview',
       'popularity', 'runtime', 'spoken_languages', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew'],
      dtype='object')

In [348]:
for item in features: 
    print(f'No of {item} : {len(data[item].value_counts())}')

No of genres : 1175
No of keywords : 4222
No of original_language : 37
No of original_title : 4801
No of overview : 4800
No of popularity : 4802
No of runtime : 156
No of spoken_languages : 544
No of tagline : 3944
No of title : 4800
No of vote_average : 71
No of vote_count : 1609
No of cast : 4761
No of crew : 4776

In [349]:
data.isnull().sum()

genres                 0
keywords               0
original_language      0
original_title         0
overview               3
popularity             0
runtime                2
spoken_languages       0
tagline              844
title                  0
vote_average           0
vote_count             0
cast                   0
crew                   0
dtype: int64

In [350]:
data.drop(labels=['tagline'], axis=1, inplace = True)

In [351]:
data.dropna(inplace=True)

In [352]:
data.isnull().sum()

genres               0
keywords             0
original_language    0
original_title       0
overview             0
popularity           0
runtime              0
spoken_languages     0
title                0
vote_average         0
vote_count           0
cast                 0
crew                 0
dtype: int64

In [353]:
data.shape

(4806, 13)

In [354]:
data.duplicated().sum()

0

In [355]:
data.head(2)

,genres,keywords,original_language,original_title,overview,popularity,runtime,spoken_languages,title,vote_average,vote_count,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

### Feature Engineering

In [356]:
data['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [357]:
import ast

In [358]:
def get_genres(intext): 
    inlist = ast.literal_eval(intext)
    lenlist = len(inlist)

    glist = list()
    for i in range(lenlist): 
        glist.append(inlist[i]['name'])

    return glist

In [359]:
data['genres'] = data['genres'].apply(get_genres)

In [360]:
data.head()

,genres,keywords,original_language,original_title,overview,popularity,runtime,spoken_languages,title,vote_average,vote_count,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Spectre,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",The Dark Knight Rises,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",John Carter,6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [361]:
#print(data['genres_new'][40])
#print(data['genres'][40])

In [362]:
data['keywords'][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [363]:
data['keywords'] = data['keywords'].apply(get_genres)

In [364]:
data['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united states–mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [365]:
data['cast'] = data['cast'].apply(get_genres)

In [366]:
data['cast']

0       [Sam Worthington, Zoe Saldana, Sigourney Weave...
1       [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2       [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3       [Christian Bale, Michael Caine, Gary Oldman, A...
4       [Taylor Kitsch, Lynn Collins, Samantha Morton,...
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805    [Edward Burns, Kerry Bishé, Marsha Dietlein, C...
4806    [Eric Mabius, Kristin Booth, Crystal Lowe, Geo...
4807    [Daniel Henney, Eliza Coupe, Bill Paxton, Alan...
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldm...
Name: cast, Length: 4806, dtype: object

In [367]:
data.head(1)

,genres,keywords,original_language,original_title,overview,popularity,runtime,spoken_languages,title,vote_average,vote_count,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Avatar,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [368]:
name_dir = data['crew'][0]
name_dir_list = ast.literal_eval(name_dir)
#name_dir_list

In [369]:
def get_director(intext): 
    inlist = ast.literal_eval(intext)
    lenlist = len(inlist)

    glist = list()
    for i in inlist:
        if i['job'] == 'Director': 
            glist.append(i['name'])
            break

    return glist

In [370]:
data['crew'] = data['crew'].apply(get_director)

In [371]:
data.head(1)

,genres,keywords,original_language,original_title,overview,popularity,runtime,spoken_languages,title,vote_average,vote_count,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Avatar,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [372]:
data['overview'] = data['overview'].apply(lambda x : x.split())

In [373]:
data.head(1)

,genres,keywords,original_language,original_title,overview,popularity,runtime,spoken_languages,title,vote_average,vote_count,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Avatar,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [374]:
def remove_space(intext): 
    namelist = list()
    for i in intext:
        namelist.append(i.replace(" ", ""))
    return namelist

In [375]:
data['cast'] = data['cast'].apply(remove_space)

In [376]:
data['crew'] = data['crew'].apply(remove_space)
data['genres'] = data['genres'].apply(remove_space)
data['keywords'] = data['keywords'].apply(remove_space)

In [377]:
data.head()

,genres,keywords,original_language,original_title,overview,popularity,runtime,spoken_languages,title,vote_average,vote_count,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",en,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Avatar,7.2,11800,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",en,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",139.082615,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Pirates of the Caribbean: At World's End,6.9,4500,"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",en,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",107.376788,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Spectre,6.3,4466,"[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",en,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",112.312950,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",The Dark Knight Rises,7.6,9106,"[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",en,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",43.926995,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",John Carter,6.1,2124,"[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [378]:
data['total_text'] = data['overview']+data['genres']+data['keywords']+data['cast']+data['crew']

In [379]:
#data['total_text'][0]

In [380]:
final_data = data[['title','total_text']]

In [381]:
final_data.head()

,title,total_text
0,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [382]:
final_data['total_text'] = final_data['total_text'].apply(lambda x : " ".join(x))

/tmp/ipykernel_6519/2574230750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['total_text'] = final_data['total_text'].apply(lambda x : " ".join(x))

In [383]:
final_data.head()

,title,total_text
0,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,Spectre,A cryptic message from Bond’s past sends him o...
3,The Dark Knight Rises,Following the death of District Attorney Harve...
4,John Carter,"John Carter is a war-weary, former military ca..."

In [384]:
#final_data['total_text'] = final_data['total_text'].apply(lambda x : x.lower())

In [385]:
final_data.head()

,title,total_text
0,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,Spectre,A cryptic message from Bond’s past sends him o...
3,The Dark Knight Rises,Following the death of District Attorney Harve...
4,John Carter,"John Carter is a war-weary, former military ca..."

## Text to vectors using 'Count vectorizer'

###  Text Preprocessing :

In [386]:
import re 
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer

In [387]:
def cleaning_process(text1) :
    text = text1
    #print(text)
    emoji_pattern = re.compile("["
    u"\U0001F600-\U0001F64F"  # emoticons
    u"\U0001F300-\U0001F5FF"  # symbols & pictographs
    u"\U0001F680-\U0001F6FF"  # transport & map symbols
    u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                         "]+", flags=re.UNICODE)
    #print(emoji_pattern.sub(r'', text)) # no emoji
    text = emoji_pattern.sub(r'', text)
    nopunc = [char for char in text if char not in string.punctuation] # removing punctuation
    text = ''.join(nopunc)
    text = ''.join([i for i in text if not i.isdigit()]) # removing digits
    text = text.lower()
    tokens = nltk.word_tokenize(text)
    tokens = [w for w in tokens if w not in stopwords.words('english')]
    text_cleaned = ' '.join(tokens)
    return text_cleaned

In [388]:
final_data['cleaned_text'] = final_data['total_text'].apply(cleaning_process)

/tmp/ipykernel_6519/917132724.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['cleaned_text'] = final_data['total_text'].apply(cleaning_process)

In [389]:
final_data.head()

,title,total_text,cleaned_text
0,Avatar,"In the 22nd century, a paraplegic Marine is di...",nd century paraplegic marine dispatched moon p...
1,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",captain barbossa long believed dead come back ...
2,Spectre,A cryptic message from Bond’s past sends him o...,cryptic message bond ’ past sends trail uncove...
3,The Dark Knight Rises,Following the death of District Attorney Harve...,following death district attorney harvey dent ...
4,John Carter,"John Carter is a war-weary, former military ca...",john carter warweary former military captain w...

### Text Vectorization using 'Count Vectorizer'

In [390]:
from sklearn.feature_extraction.text import CountVectorizer

In [391]:
cv= CountVectorizer(max_features=2000)

In [392]:
vectors = cv.fit_transform(final_data['cleaned_text']).toarray()

In [393]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [394]:
vectors.shape

(4806, 2000)

In [395]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [396]:
#cv.vocabulary_

## Bulding recommendation system using 'cosine similarity'

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(vectors)

cosine_sim

In [ ]:
cosine_sim.shape

(4806, 4806)

In [ ]:
#Construct a reverse map of indices and title
index_values = pd.Series(final_data.index, index=final_data['title']).drop_duplicates()
index_values[:10]

title
Avatar                                      0
Pirates of the Caribbean: At World's End    1
Spectre                                     2
The Dark Knight Rises                       3
John Carter                                 4
Spider-Man 3                                5
Tangled                                     6
Avengers: Age of Ultron                     7
Harry Potter and the Half-Blood Prince      8
Batman v Superman: Dawn of Justice          9
dtype: int64

In [ ]:
def get_recommendations(title, sim_algo):
    
    # Get the index of the dataframe that matches the movies
    idx = index_values[title]
    
    # Get the pairwsie similarity scores of all data with that movies
    algo_scores = list(enumerate(sim_algo[idx]))
    
    
    # Sort the data based on the similarity scores
    algo_scores = sorted(algo_scores, key=lambda x: x[1], reverse=True)
    
        
    
    # Get the scores of the 10 most similar movies
    algo_scores = algo_scores[1:10]
    
    
    # Get the movie title indices
    sim_data_indices = [i[0] for i in algo_scores]
    sim_scores = [i[1] for i in algo_scores]
    

    # Return the top 10 most similar movies
    return data[['title', 'genres', 'cast', 'crew']].iloc[sim_data_indices]

In [ ]:
get_recommendations('Tangled', cosine_sim)

,title,genres,cast,crew
42,Toy Story 3,"[Animation, Family, Comedy]","[TomHanks, TimAllen, NedBeatty, JoanCusack, Mi...",[LeeUnkrich]
194,Dinosaur,"[Animation, Family]","[D.B.Sweeney, AlfreWoodard, OssieDavis, MaxCas...",[RalphZondag]
1701,Aladdin,"[Animation, Family, Comedy, Adventure, Fantasy...","[ScottWeinger, RobinWilliams, LindaLarkin, Jon...",[RonClements]
899,Shrek,"[Adventure, Animation, Comedy, Family, Fantasy]","[MikeMyers, EddieMurphy, CameronDiaz, JohnLith...",[AndrewAdamson]
1600,Corpse Bride,"[Romance, Fantasy, Animation, Music]","[JohnnyDepp, HelenaBonhamCarter, EmilyWatson, ...",[TimBurton]
254,The Smurfs,"[Animation, Family, Adventure, Comedy, Fantasy]","[HankAzaria, NeilPatrickHarris, JaymaMays, Sof...",[RajaGosnell]
124,Frozen,"[Animation, Adventure, Family]","[KristenBell, IdinaMenzel, JonathanGroff, Josh...",[ChrisBuck]
269,The Princess and the Frog,"[Romance, Family, Animation, Music]","[AnikaNoniRose, BrunoCampos, KeithDavid, Micha...",[RonClements]
465,Fantasia 2000,"[Animation, Family, Music]","[SteveMartin, ItzhakPerlman, QuincyJones, Bett...",[JamesAlgar]

In [ ]:
get_recommendations('The Dark Knight', cosine_sim)

,title,genres,cast,crew
119,Batman Begins,"[Action, Crime, Drama]","[ChristianBale, MichaelCaine, LiamNeeson, Kati...",[ChristopherNolan]
3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4644,Amidst the Devil's Wings,"[Drama, Action, Crime]",[],[]
4233,Nine Queens,"[Crime, Drama, Thriller]","[RicardoDarín, GastónPauls, LeticiaBrédice, Ma...",[FabiánBielinsky]
1362,Batman,"[Fantasy, Action]","[JackNicholson, MichaelKeaton, KimBasinger, Mi...",[TimBurton]
1363,Batman,"[Fantasy, Action]","[AdamWest, BurtWard, LeeMeriwether, CesarRomer...",[LeslieH.Martinson]
2513,Slow Burn,"[Mystery, Crime, Drama, Thriller]","[RayLiotta, LLCoolJ, MekhiPhifer, JoleneBlaloc...",[WayneBeach]
4142,Gangster's Paradise: Jerusalema,"[Drama, Action, Crime, Foreign]","[DanielBuckland, RobertHobbs, RapulanaSeiphemo...",[RalphZiman]
3185,The Way of the Gun,"[Action, Crime, Drama, Thriller]","[BeniciodelToro, RyanPhillippe, JulietteLewis,...",[ChristopherMcQuarrie]

Recommendation system has been created. If we look at the recommendations, we can say that it is doing good job. Now the next step is to store the data and the model for further usage.

## Saving the input data and the model

In [ ]:
import pickle

In [ ]:
pickle.dump(final_data, open('../artifacts/movie_data.pkl', 'wb'))

In [ ]:
pickle.dump(cosine_sim, open('../artifacts/cosine_similarity.pkl', 'wb'))